<!--s<p>{{name}}</p>

  <h1>Address Details </h1>
<pre>
<p>City :{{address.city}}</p>
<p>Pin :{{address.pin}}</p>
<p>Country:{{address.country}}</p>
</pre> --> 

 <!-- <h2>hillio Enter your city</h2>
<input type="text" (change)="setCity($event)"><br>
<h1>{{addr.city_1}}</h1>

<h2>hillio Enter your pin</h2>
<input type="text" (change)="setPin($event)"><br>
<h1>{{addr.pin}}</h1>

<h2>hillio Enter your country</h2>
<input type="text" (change)="setCountry($event)"><br>
<h1>{{addr.country}}</h1> 

<ul>
    <li *ngFor="let name of names">{{name}}</li>
</ul>


<h1>list of addresses</h1>
<ul>
    <li *ngFor="let addr of addrarr">{{addr.city}}, {{addr.pin}}, {{addr.country}}</li>
</ul> -->



