<h1>Namaste India</h1>
<!-- <p>{{message}}</p>
  interpolation operator :we are extracting value of -->

<!--  <p>Text of my first tag</p>  -->  
<!--<first-component></first-component>-->
<!--<template-demo></template-demo> 
   data bindingggg -->
<!--<login-demo></login-demo>
<app-twowaybinding></app-twowaybinding>-->
<!--<app-parent-component></app-parent-component>-->
<!-- <app-warehouse></app-warehouse>-->
<!-- <app-switchdemo></app-switchdemo>
<app-simple-form2></app-simple-form2> -->
<app-reactive-form></app-reactive-form>
